class Config:
    SERVICE_NAME = "{{cookiecutter.service_name}}"
    {% if cookiecutter.database != "none" %}
    SQLALCHEMY_DATABASE_URI = "{{ 'postgresql://user:pass@localhost/db' if cookiecutter.database == 'postgresql' }}"
    {% endif %}
    {% if cookiecutter.include_redis == "y" %}
    REDIS_URL = "redis://localhost:6379/0"
    {% endif %}