from flask import Blueprint
from . import {{cookiecutter.endpoints.name}}_routes

def register_routes(app):
    """Register all endpoints"""
    app.register_blueprint({{cookiecutter.endpoints.name}}_routes.bp)
