from flask import Blueprint
{% for endpoint in cookiecutter.endpoints %}
from . import {{endpoint.name}}_routes
{% endfor %}

def register_routes(app):
    """Register all endpoints"""
    {% for endpoint in cookiecutter.endpoints %}
    app.register_blueprint({{endpoint.name}}_routes.bp)
    {% endfor %}